@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');

html{
    max-zoom: 250%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../src/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-zoom: 250%;
}

header {
    display: flex;
    margin: 0px;
    padding: 10px;
    font-family: 'Lobster';
    justify-content: center;
}

header div{
    display: flex;
    margin: 0px 10px 0px 0px;
    padding: 40px 40px;
    background-image: url(../src/LB2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

header h1{
    display: flex;
    margin: 15px 0px 0px 0px;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    color: #FF83AB;
}

.logoinicio {
    width: 100px;
}

nav{
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    padding: 3px;
    margin: 5px 1px;
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline;
    
}

nav ul a{
    text-decoration: none;
    font-family: 'Lobster';
    color: #facbea;
    margin: 0px 10px 0px 0px;
    padding: 5px 10px 5px 10px;
    background-image: url(../src/LB1.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

table,
td,
tr {
    
    border-collapse: separate;
    font-family: 'Agdasima', sans-serif;
    font-size: 20px;    
    font-weight: lighter;
    border-radius: 40% 10%;
    border-spacing: 50px 10px;
}

th{
    column-count: 2;
}

section{
    margin-bottom: 40px;
}

table {
    margin-bottom: 40px;
    margin: 0 auto;
    text-align: center;
    background-color: #14f8f1b0;
    color: #FFFFFF;
}

td {
    width: 140px;
    margin-right: 25px;
}

h2 {
    font-family: 'Lobster';
    text-align: center;
    font-size: 2em;
}

.slider{
    width: 25px;
    margin: 0px 3px 3px 0px;
}

figure{
    margin: 0px 20px 0px 0px;
    padding: 0px;
}

article h2{
    margin: 0px 20px 0px 20px;
}

article div{
    display: flex;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-items: center;
}

#Tipocomida{
    background-image: url(../src/LB1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    margin: 40px auto 20px;
    padding: 20px;
    width: 300px;
    color: #FF83AB;
}

#Mapa{
    margin: 30px;
    
}

#direccion{
    color: #FF83AB;
    text-align: center;
    font-size: 16px;
}

#loc{
    color: #facbea;
}